/* responvice for 1172px */

@media screen and (max-width:1172px) {
  
header{overflow: hidden;}

main{overflow: hidden;}

footer{overflow: hidden;}

.box2{display: none;}


.footer-panel1{ flex-wrap: wrap;}

.footer-panel1-button{flex-wrap: wrap;}

.flex4{ height: fit-content;
        flex-direction: column-reverse;}

  .flex4-text{
    display: table;}

  #flex4-jio-cinema{
    padding-left: 15px;
    padding-top: 20px;}

    #flex4-text2{
      padding-left: 50px;
      font-size: 2rem;
      width: 100%;}

  #flex4-know-more-button{
    margin-left: 50px;}
}



@media screen and (max-width: 680px) {

  .footer-panel1{ flex-wrap: wrap;
  height: fit-content ; }

#need-guidance{ font-size: 2.2rem;}
    .footer-panel1-button{ flex-wrap: wrap;}

      .footer-panel1-resp{ height: 20px;
      width: 100%;
      background-color: #0f3cc0;}

    }


@media screen and (max-width: 950px){
  
 .footer-panel2{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;}

.fp2-box2{width: 250px;}

 .fp2-box2-heading{
  font-size: 1.2rem ;}

 .fp2-box2-icon{
  font-size:1rem ;
  height: 28px;
  width: 28px;
  flex-wrap: nowrap;}

 .fp2-box2-icons{
   flex-wrap: wrap;
  height: fit-content;}
 

#appstore-icon{
  margin-left: 0;
  padding-left: 0;}

.fp3{
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;}

.fp3-links{
  margin-left: 0;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  height: fit-content;}

#footer-panel2-box1{margin-left: 0;
padding-left: 20;}

.jio-card-box{ flex-wrap: wrap;
 height: fit-content;
width: 100%;
 justify-content: center;
align-items: center;}

.card-box a{ margin-left: 0;
padding-left: 0;}

.jio-flex1{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;}

 .para1{
  flex-wrap: wrap;
  font-size: 2.3rem;
  padding-top: 25px;} 


  .laptop-line{
    padding-top: 0px;
    margin-left: 28px;}


  .laptop-line-div{
  display:flex;
  justify-content: start;}

  .know-more{
    margin-top: 80px;}

    .buy-now{
      margin-top: 80px;}

    .flex6-1{
        flex-direction: column;
        justify-content: end;}
    
      .flex6-box2{
        justify-content: end;
        align-items: end;}

      #flex6-img{
        height: 150px;
        margin-top:50px;
        overflow: hidden;
        margin-left: 101px;}

    #jiodive{font-size: 1rem;
    margin-top: 35px;}

    #enjoy{
      font-size: 1.3rem;
    }
     
    
    }

@media screen and (max-width: 440px) {
  
  .search-bar{
  display: none;}

  .search-icon-resp{ 
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: white;
    font-size: 1.3rem;}

    .search-logo-resp{ height: 40px;
      width: 150px;
      background-color: #0A2885;
      display: flex;
      margin-top: 11px;
      align-items: center;
      border-radius: 25px;
      color: white;
      font-size: 1.3rem;}}


    @media screen and (max-width: 740px){

      .jio-flex2{
        height: 500px;
      }
      .flex2-text-resp{ font-size: 1.5rem;
        flex-wrap: wrap;
        color: white;
        font-weight: 800;
        display: block;}

    .flex2-text{display: none;}
    
      .flex2-box3{ height: 30px;
      width: 100px;
      font-size: 0.5rem;}

      .true5G{
        font-size: 0.8rem;
        width: 80px;
        height: 30px;}

        #jio-logo-in-orange{ height: 20px;
        width: 20px;}

        .flex5{
          flex-shrink: initial;}

          .flex5-box1 a{
            height: 90px;
            background-size: cover;
            display:inline-block;
            padding-left: 15px;
            text-align: center;}
    }

@media screen and (max-width:615px) {

  .flex3{flex-wrap: wrap;
    height: fit-content;}
    
    .flex3-box1{
     height: fit-content;}

     .flex3-box2{height: fit-content;}
  
.flex5{
  flex-wrap: wrap}


   .flex5-box1{
      height: 50px;}
    }

    
     @media screen and (max-width:1014px) {
        
      .flex6{
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        flex-shrink: 5;}
     } 
    